# Dependencies
node_modules/
.pnp
.pnp.js
pnpm-lock.yaml
yarn.lock
package-lock.json

# Testing
coverage/
.nyc_output/

# Production
.next/
out/
dist/
build/
.turbo/

# Misc
.DS_Store
.env
.env.local
.env.*.local
*.pem
.idea/
.vscode/
*.sw[po]
*~
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.db
*.sqlite
migrations/

# OS
Thumbs.db
.AppleDouble
.LSOverride

# Uploads
uploads/
temp/

# IDE
.eslintcache
.prettierignore
*.sublime-workspace
